
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<style>
    .pgedit-Route {
        color: #35b8eb !important;
    }
</style>
<section class="content-header">
    <h1 class="headingfont">Vehicle Type Master</h1>

</section>

<div class="row no-margin">
    <div class="col-lg-12 mt-2 mb-2 text-right">
        <button id="btnAddNewVehicleType" type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#modelVehicleType">Create New</button>
        </div>
</div>
    
        
            <!-- Modal -->
            <div class="modal fade" id="modelVehicleType" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #f5f5f5;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">
                                Vehicle Type 
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group text-left">
                                <label for="exampleFormControlInput1">VehicleType</label>
                                <input type="text" class="form-control" id="txtVehicleType" placeholder="Vehicle Type" style="text-transform:capitalize">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="add-VehicleType btn btn-primary ngadd">Save</button>
                            <button type="button" id="btn-cancel" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
    <section class="mainContent filled">
    <div class="card">
        <div class="card-body">
            <div class="row">

                <div class="col-lg-12 pb-5">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>VehicleType</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <script>

        var g_ManageVehicleType = {

            VehicleTypeID: '', VehicleType: ''

        }

        $(document).ready(function () {

            $(document).on('click', '.ngadd', function () {

                var btn = $(this);
                var txt = $(this).text();
                $('input').css('border', '');
                $('textarea').css('border', '');
                $('select').css('border', '');
                $('.ngerr').remove();
                $('.input-group').css('border', '');
                $('.ngerr').remove();

                var ManageVehicleType = {};
                ManageVehicleType.VehicleTypeID = "#";
                ManageVehicleType.VehicleType = $('#txtVehicleType').val();


                if ($.trim(ManageVehicleType.VehicleType) == '') {
                    $('#txtVehicleType').focus().css('border', '2px solid red').after('<span class="text-danger ngerr">Required</span>');
                    return;
                }

                var vt = $('#txtVehicleType').val();
                vt = vt.toLowerCase().replace(/\b[a-z]/g, function (letter) {
                    return letter.toUpperCase();
                });
                ManageVehicleType.VehicleType = vt;


                if (!$(btn).hasClass('disabled')) {
                    $(btn).addClass('disabled').text('Saving...');
                    $.ajax({
                        type: "Post",
                        url: "/VehicleType/ManageInsertVehicleType",
                        data: "{o:" + JSON.stringify(ManageVehicleType) + "}",
                        contentType: "application/json;charset=utf-8;",
                        dataType: "json",
                        success: function (data) {
                            if (!isNaN(data) && data > 0) {
                                $(btn).text(txt).removeClass('disabled');
                                alert('Record is Successfully Saved...!');
                                $('#txtVehicleType').val('');
                                $('#modelVehicleType').modal('hide');
                                window.location.reload();
                                Get_ManageVehicleType(g_ManageVehicleType);
                            }

                            else {
                                alert(data);
                                $(btn).text(txt).removeClass('disabled');
                            }
                        },
                        error: function (data) {

                            alert('error:' + Error);
                            $(btn).text(txt).removeClass('disabled');
                        }
                    });
                }
            });


            $(document).on('click', '.ngupdate', function () {

                var btn = $(this);
                var txt = $(this).text();
                $('input').css('border', '');
                $('textarea').css('border', '');
                $('select').css('border', '');
                $('.ngerr').remove();
                $('.input-group').css('border', '');
                $('.ngerr').remove();

                var ManageVehicleType = {};
                ManageVehicleType.VehicleTypeID = "#";
                ManageVehicleType.VehicleType = $('#txtVehicleType').val();


                if ($.trim(ManageVehicleType.VehicleType) == '') {
                    $('#txtVehicleType').focus().css('border', '2px solid red').after('<span class="text-danger ngerr">Required</span>');
                    return;
                }

                var vt = $('#txtVehicleType').val();
                vt = vt.toLowerCase().replace(/\b[a-z]/g, function (letter) {
                    return letter.toUpperCase();
                });
                ManageVehicleType.VehicleType = vt;


                if ($(btn).hasClass('ngupdate')) {
                    ManageVehicleType.VehicleTypeID = $(btn).attr('did');
                }

                if (!$(btn).hasClass('disabled')) {
                    $(btn).addClass('disabled').text('Saving...');
                    $.ajax({
                        type: "Post",
                        url: "/VehicleType/ManageUpdateVehicleType",
                        data: "{o:" + JSON.stringify(ManageVehicleType) + "}",
                        contentType: "application/json;charset=utf-8;",
                        dataType: "json",
                        success: function (data) {
                            if (!isNaN(data) && data > 0) {
                                $(btn).text(txt).removeClass('disabled');
                                alert('Record is Successfully Updated...!');
                                $('#txtVehicleType').val('');
                                $('#modelVehicleType').modal('hide');
                                window.location.reload();
                                Get_ManageVehicleType(g_ManageVehicleType);

                            }

                            else {
                                alert(data);
                                $(btn).text(txt).removeClass('disabled');
                            }
                        },
                        error: function (data) {

                            alert('error:' + Error);
                            $(btn).text(txt).removeClass('disabled');
                        }
                    });
                }
            });


            $('#btnAddNewItem').click(function () {

                $('.ngerr').remove();
                $('input').css('border', '');
                $('textarea').css('border', '');
                $('select').css('border', '');
                $('#txtVehicleType').val('');
                $('.add-VehicleType').addClass('ngadd');
                $('.ngadd').text('Save').removeClass('ngupdate').removeAttr('did');

            });


            $(document).on('click', '.ngedit', function () {
                $('.ngerr').remove(); $('.pgmsg').text('');
                $('select').css('border', '');
                $('input').css('border', '');
                $('textarea').css('border', '');
                $('.ngadd').text('Update');
                var Id = $(this).attr('did');
                var row = $(this).closest('tr');
                var l_obj = '';
                l_obj = JSON.parse($(".ngedit").closest("tr").attr("data-obj").replace(/\~/g, "'"));
                l_obj = l_obj.find(a => (a.VehicleTypeID == Id));

                $('#txtVehicleType').val(l_obj.VehicleType);

                $('.add-VehicleType').addClass('ngupdate').attr('did', Id);
                $('.add-VehicleType').removeClass('ngadd');
            });

            $('#btn-cancel').click(function () {
                $('#modelVehicleType').modal('hide');
            });


            $(document).on('click', '.ngdelete', function () {
                var btn = $(this);
                var txt = $(this).html();
                var ID = $(this).attr('did');

                var ManageVehicleType = {};
                ManageVehicleType.VehicleTypeID = ID;
                ManageVehicleType.VehicleType = "#";


                if (confirm('Are you sure want to delete ?')) {
                    if (!$(btn).hasClass('disabled')) {
                        $(btn).text('...').addClass('disabled');
                        $.ajax({
                            type: "POST",
                            url: "/VehicleType/ManageDeleteVehicleType",
                            data: "{o:" + JSON.stringify(ManageVehicleType) + "}",
                            contentType: "application/json;charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                if (!isNaN(data) && data > 0) {
                                    $(btn).closest('tr').fadeOut(300, function () {
                                        $(btn).closest('tr').remove();
                                    });
                                    window.location.reload();
                                }

                                else {
                                    alert(data);
                                    $(btn).html(txt).removeClass('disabled');
                                }
                            },
                            error: function (data) {
                                alert('error :' + Error);
                                $(btn).html(txt).removeClass('disabled');
                            }
                        })
                    }
                }
            });

            Get_ManageVehicleType(g_ManageVehicleType);

            function Get_ManageVehicleType(obj) {
                $.ajax({
                    type: "Post",
                    url: "/VehicleType/GetVehicleType",
                    data: "{o: " + JSON.stringify(obj) + "}",
                    contentType: "application/json;charset=utf-8;",
                    dataType: "json",
                    success: function (res) {
                        if (res.length > 0) {
                            $('#example tbody').empty();

                            $.each(res, function (i, v) {
                                var editbtn = '<i class="fa fa-pencil ngedit" title="Edit" style="color:#0ad251;" data-toggle="modal" data-target="#modelVehicleType" did="' + v.VehicleTypeID + '"></i>';
                                var delbtn = '<i class="fa fa-times ngdelete" title="Delete" style="color:#f43a59;" did="' + v.VehicleTypeID + '"></i>';
                                var row = "<tr data-obj='" + JSON.stringify(res).replace(/\'/g, "~") + "'><td>" + v.VehicleType + "</td><td>" + editbtn + '&nbsp;&nbsp;' + delbtn + "</td></tr>";
                                $('#example tbody').append(row);
                            });
                            $('#example').DataTable();
                        }
                        else {
                            $('#example tbody').empty();
                            var row = '<tr><td colspan="3">No Record Found.</td></tr>';
                            $('#example tbody').append(row);
                        }
                    },
                    error: function (res) {
                        alert(res.responseText);
                        $('#example tbody').empty();
                        var row = '<tr><td colspan="3">Connection Error..</td></tr>';
                        $('#example tbody').append(row);
                    }
                });
            }
        });
    </script>








