@model LTMSV2.Models.MovementTypeVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $("#MovementTypeName").focus();
      

        $("#btnsave").click(function () {
            var move = $("#MovementTypeName").val();
         


            if (move == "") {
                $("#validations").show();
                return false;
            }
        
            else {
                $("#validations").hide();
                return true;
            }
        });


    });
</script>

<section class="content-header">
    <h1 class="headingfont">Movement Type Master - Create</h1>

</section>






<section class="content">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
      <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>
        
      <div class="searchdiv sm-width">
       <div class="row no-margin"> 
               
     

         <div class="col-md-12">
                          <label class="headinglabel required">Movement Type</label>
                 @Html.TextBoxFor(model => model.MovementTypeName,new { @class = "form-control txttarget" })
            @Html.ValidationMessageFor(model => model.MovementTypeName)
                     
                 </div>

            
           </div>
          
         
        <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-12 btn-right">
                           
                              <input type="submit" value="Save" class="btn btn-primary btnwidth" id="btnsave" />&nbsp;&nbsp;<a href='@Url.Action("Index", "MovementType", new { id = 0 })' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

                               
                          
                        </div>
            </div>
            </div>
    </fieldset>
}

