
@{
    ViewBag.Title = "add_item";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="mb-0">Item</h2>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 mt-2 mb-2 text-right">
        <button id="btnAddNewItem" type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#modelItemMaster">Add</button>
        <!-- Modal -->
        <div class="modal fade" id="modelItemMaster" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #54cd88;">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="color: white;font-weight: bold !important;">Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group text-left">
                            <label for="exampleFormControlInput1">Item Name</label>
                            <input type="text" class="form-control" id="txtItemName" placeholder="Item" style="text-transform:capitalize">
                        </div>

                        <div class="form-group text-left">
                            <label for="exampleFormControlInput1">Description</label>
                            <textarea id="txtDescription" class="form-control" style="text-transform:capitalize"></textarea>
                        </div>

                        <div class="form-group text-left">
                            <label for="exampleFormControlInput1">HS Code</label>
                            <input type="number" class="form-control" id="txtHsCode" placeholder="HS Code">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="add-Item btn btn-primary ngadd">Save</button>
                        <button type="button" id="btn-cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">

            <div class="col-lg-12 pb-5">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>HsCode</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var g_ManageItemMaster = {

        ItemID: '', ItemName: '', Description: '', HsCode:''

    }

    $(document).ready(function () {

        $(document).on('click', '.ngadd', function () {

            var btn = $(this);
            var txt = $(this).text();
            $('input').css('border', '');
            $('textarea').css('border', '');
            $('select').css('border', '');
            $('.ngerr').remove();
            $('.input-group').css('border', '');
            $('.ngerr').remove();

            var ManageItemMaster = {};
            ManageItemMaster.ItemID = "#";
            ManageItemMaster.ItemName = $('#txtItemName').val();
            ManageItemMaster.Description = $('#txtDescription').val();
            ManageItemMaster.HsCode = $('#txtHsCode').val();


            if ($.trim(ManageItemMaster.ItemName) == '') {
                $('#txtItemName').focus().css('border', '2px solid red').after('<span class="text-danger ngerr">Required</span>');
                return;
            }

            if ($.trim(ManageItemMaster.Description) == '') {
                $('#txtDescription').focus().css('border', '2px solid red').after('<span class="text-danger ngerr">Required</span>');
                return;
            }

            if ($.trim(ManageItemMaster.HsCode) == '') {
                $('#txtHsCode').focus().css('border', '2px solid red').after('<span class="text-danger ngerr">Required</span>');
                return;
            }

            if ($.trim(ManageItemMaster.HsCode).length != 8) {
                $('#txtHsCode').focus().css('border', '2px solid red').after('<span class="text-danger ngerr">Only 8 Digit Allow</span>');
                return;
            }

            var Itn = $('#txtItemName').val();
            Itn = Itn.toLowerCase().replace(/\b[a-z]/g, function (letter) {
                return letter.toUpperCase();
            });
            ManageItemMaster.ItemName = Itn;


            var de = $('#txtDescription').val();
            de = de.toLowerCase().replace(/\b[a-z]/g, function (letter) {
                return letter.toUpperCase();
            });
            ManageItemMaster.Description = de;


            if (!$(btn).hasClass('disabled')) {
                $(btn).addClass('disabled').text('Saving...');
                $.ajax({
                    type: "Post",
                    url: "/Item/ManageInsertItemMaster",
                    data: "{o:" + JSON.stringify(ManageItemMaster) + "}",
                    contentType: "application/json;charset=utf-8;",
                    dataType: "json",
                    success: function (data) {
                        if (!isNaN(data) && data > 0) {
                            $(btn).text(txt).removeClass('disabled');
                            alert('Record is Successfully Saved...!');
                            $('#txtItemName').val('');
                            $('#txtDescription').val('');
                            $('#txtHsCode').val('');
                            $('#modelItemMaster').modal('hide');
                            window.location.reload();
                            Get_ManageItemMaster(g_ManageItemMaster);
                        }

                        else {
                            alert(data);
                            $(btn).text(txt).removeClass('disabled');
                        }
                    },
                    error: function (data) {

                        alert('error:' + Error);
                        $(btn).text(txt).removeClass('disabled');
                    }
                });
            }
        });


        $(document).on('click', '.ngupdate', function () {

            var btn = $(this);
            var txt = $(this).text();
            $('input').css('border', '');
            $('textarea').css('border', '');
            $('select').css('border', '');
            $('.ngerr').remove();
            $('.input-group').css('border', '');
            $('.ngerr').remove();

            var ManageItemMaster = {};
            ManageItemMaster.ItemID = "#";
            ManageItemMaster.ItemName = $('#txtItemName').val();
            ManageItemMaster.Description = $('#txtDescription').val();
            ManageItemMaster.HsCode = $('#txtHsCode').val();

            if ($.trim(ManageItemMaster.ItemName) == '') {
                $('#txtItemName').focus().css('border', '2px solid red').after('<span class="text-danger ngerr">Required</span>');
                return;
            }

            if ($.trim(ManageItemMaster.Description) == '') {
                $('#txtDescription').focus().css('border', '2px solid red').after('<span class="text-danger ngerr">Required</span>');
                return;
            }

            if ($.trim(ManageItemMaster.HsCode) == '') {
                $('#txtHsCode').focus().css('border', '2px solid red').after('<span class="text-danger ngerr">Required</span>');
                return;
            }

            if ($.trim(ManageItemMaster.HsCode).length != 8) {
                $('#txtHsCode').focus().css('border', '2px solid red').after('<span class="text-danger ngerr">Only 8 Digit Allow</span>');
                return;
            }

            var Itn = $('#txtItemName').val();
            Itn = Itn.toLowerCase().replace(/\b[a-z]/g, function (letter) {
                return letter.toUpperCase();
            });
            ManageItemMaster.ItemName = Itn;


            var de = $('#txtDescription').val();
            de = de.toLowerCase().replace(/\b[a-z]/g, function (letter) {
                return letter.toUpperCase();
            });
            ManageItemMaster.Description = de;


            if ($(btn).hasClass('ngupdate')) {
                ManageItemMaster.ItemID = $(btn).attr('did');
            }

            if (!$(btn).hasClass('disabled')) {
                $(btn).addClass('disabled').text('Saving...');
                $.ajax({
                    type: "Post",
                    url: "/Item/ManageUpdateItemMaster",
                    data: "{o:" + JSON.stringify(ManageItemMaster) + "}",
                    contentType: "application/json;charset=utf-8;",
                    dataType: "json",
                    success: function (data) {
                        if (!isNaN(data) && data > 0) {
                            $(btn).text(txt).removeClass('disabled');
                            alert('Record is Successfully Updated...!');
                            $('#txtItemName').val('');
                            $('#txtDescription').val('');
                            $('#txtHsCode').val('');
                            $('#modelItemMaster').modal('hide');
                            window.location.reload();
                            Get_ManageItemMaster(g_ManageItemMaster);

                        }

                        else {
                            alert(data);
                            $(btn).text(txt).removeClass('disabled');
                        }
                    },
                    error: function (data) {

                        alert('error:' + Error);
                        $(btn).text(txt).removeClass('disabled');
                    }
                });
            }
        });


        $('#btnAddNewItem').click(function () {

            $('.ngerr').remove();
            $('input').css('border', '');
            $('textarea').css('border', '');
            $('select').css('border', '');
            $('#txtItemName').val('');
            $('#txtDescription').val('');
            $('#txtHsCode').val('');
            $('.add-Item').addClass('ngadd');
            $('.ngadd').text('Save').removeClass('ngupdate').removeAttr('did');

        });


        $(document).on('click', '.ngedit', function () {
            $('.ngerr').remove(); $('.pgmsg').text('');
            $('select').css('border', '');
            $('input').css('border', '');
            $('textarea').css('border', '');
            $('.ngadd').text('Update');
            var Id = $(this).attr('did');
            var row = $(this).closest('tr');
            var l_obj = '';
            l_obj = JSON.parse($(".ngedit").closest("tr").attr("data-obj").replace(/\~/g, "'"));
            l_obj = l_obj.find(a => (a.ItemID == Id));

            $('#txtItemName').val(l_obj.ItemName);
            $('#txtDescription').val(l_obj.Description);
            $('#txtHsCode').val(l_obj.HsCode);

            $('.add-Item').addClass('ngupdate').attr('did', Id);
            $('.add-Item').removeClass('ngadd');
        });

        $('#btn-cancel').click(function () {
            $('#modelItemMaster').modal('hide');
        });


        $(document).on('click', '.ngdelete', function () {
            var btn = $(this);
            var txt = $(this).html();
            var ID = $(this).attr('did');

            var ManageItemMaster = {};
            ManageItemMaster.ItemID = ID;
            ManageItemMaster.ItemName = "#";
            ManageItemMaster.Description = "#";
            ManageItemMaster.HsCode = "#";


            if (confirm('Are you sure want to delete ?')) {
                if (!$(btn).hasClass('disabled')) {
                    $(btn).text('...').addClass('disabled');
                    $.ajax({
                        type: "POST",
                        url: "/Item/ManageDeleteItemMaster",
                        data: "{o:" + JSON.stringify(ManageItemMaster) + "}",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (!isNaN(data) && data > 0) {
                                $(btn).closest('tr').fadeOut(300, function () {
                                    $(btn).closest('tr').remove();
                                });
                                window.location.reload();
                            }

                            else {
                                alert(data);
                                $(btn).html(txt).removeClass('disabled');
                            }
                        },
                        error: function (data) {
                            alert('error :' + Error);
                            $(btn).html(txt).removeClass('disabled');
                        }
                    })
                }
            }
        });

        Get_ManageItemMaster(g_ManageItemMaster);

        function Get_ManageItemMaster(obj) {
            $.ajax({
                type: "Post",
                url: "/Item/GetItemMaster",
                data: "{o: " + JSON.stringify(obj) + "}",
                contentType: "application/json;charset=utf-8;",
                dataType: "json",
                success: function (res) {
                    if (res.length > 0) {
                        $('#example tbody').empty();

                        $.each(res, function (i, v) {
                            var editbtn = '<i class="fa fa-pencil ngedit" title="Edit" style="color:#0ad251;" data-toggle="modal" data-target="#modelItemMaster" did="' + v.ItemID + '"></i>';
                            var delbtn = '<i class="fa fa-times ngdelete" title="Delete" style="color:#f43a59;" did="' + v.ItemID + '"></i>';
                            var row = "<tr data-obj='" + JSON.stringify(res).replace(/\'/g, "~") + "'><td>" + v.ItemName + "</td><td>" + v.HsCode + "</td><td>" + v.Description + "</td><td>" + editbtn + '&nbsp;&nbsp;' + delbtn + "</td></tr>";
                            $('#example tbody').append(row);
                        });
                        $('#example').DataTable();
                    }
                    else {
                        $('#example tbody').empty();
                        var row = '<tr><td colspan="3">No Record Found.</td></tr>';
                        $('#example tbody').append(row);
                    }
                },
                error: function (res) {
                    alert(res.responseText);
                    $('#example tbody').empty();
                    var row = '<tr><td colspan="3">Connection Error..</td></tr>';
                    $('#example tbody').append(row);
                }
            });
        }
    });
</script>




